doctype html
html
	head
		title WiseCat !
		//- TODO : get JQuery
		script(src='http://code.jquery.com/jquery-2.1.3.min.js')
		script#facebook-jssdk(src='//connect.facebook.net/en_US/sdk.js')
		script(src='facebook.js')
		script(src='main.js')
		link(rel='stylesheet', href='style.css')
	body
		fb:login-button#auth
		#search
			input.search(type='text')
		textarea#title(type='text')
		br
		textarea#autocomplete
