doctype html
html
	head
		title WiseCat !
		//- TODO : get JQuery
		script(src='http://code.jquery.com/jquery-2.1.3.min.js')
		script(src='main.js')
		link(rel='stylesheet', href='style.css')
	body
		//- #auth
		//- 	input.login(type='text')
		//- 	input.pass(type='password')
		#search
			input.search(type='text')
		textarea#title(type='text')
		br
		textarea#autocomplete
