/*********************************************
				Global Layout Elements
**********************************************/
			header{
				width:100vw;
				padding-top:10px;
				padding-bottom:10px;
				height:50px;
				position:absolute;
				float:left;
			}
			
			header h1{
				font-family:'Changa One';
				font-size:30px;
			}
			aside{
				width:50px;
				height:100%;
				float:left;
				display:block;
			}
			
			
			
			main{
				width:100vw;
				height:100vh;
			}
			/*********************************************
				Movie Recommandation view
			**********************************************/
			
			/* MovieDetails  */
			#currentMovieDetail{
				width:100vw;
				position:absolute;
				top:700px;
				height:700px;
				box-shadow:0px 0px 5px 5px #000;
			}
			
			#currentMovieDetail .moviePoster,#currentMovieDetail .movieInformation{
				display:inline-block;
				
				float:left;
			}
			#currentMovieDetail .movieInformation h1{
				font-size:35px;
				font-family:'Oswald';
			}
			#currentMovieDetail .movieInformation{
				margin-left:10px;
				display:inline-block;
				float:left;
				width:60%;
			}
			#currentMovieDetail .moviePoster img{
				height:700px;
			}
			
			#currentMovieDetail .movieInformation div>span{
				display:inline-block;
				margin:5px;
				background-color:#e74c3c;
				padding:10px;
				color:white;
			}
			
			#currentMovieDetail .movieInformation div>span span,#currentMovieDetail .movieInformation div>span p{
				display:inline-block;
				margin:5px;
			}
			
			#currentMovieDetail .movieInformation div>span p{
				font-weight: 900;
				color:white;
			}
			
			#currentMovieDetail .movieInformation div>span span{
				font-style: italic;
			}
			
			#currentMovieDetail .moviePlot{
				margin:5px;
				background-color:#ecf0f1;
				padding:5px;
				display:inline-block;
			}
			
			
			#currentMovieDetail .movieInformation .movieTrailer h2
			,#currentMovieDetail .movieInformation>span
			,#currentMovieDetail .movieInformation .moviePlot span{
				font-family::'Oswald';
				font-weight:900;
				padding:10px;
				color:#c0392b;
				width:100%;
			}
			#currentMovieDetail .movieInformation .movieCast{
			
				width:100%;
				display:block;
			}
			/* Movies Carousel*/
			#recommandationList{
				display:block;
				width:100%;
				height:700px;
				overflow:hidden;
				position:fixed;
				background-position:cover;
			}		
			
			#wrapperMoviesList{/* Movie Carousel*/
				width:1200px;
				height:90vh;
				margin:auto;
			}
			
			.movieElement{ /* the background image will be added through javascript*/
				height:648px;
				width:420px;
				-webkit-background-size: cover;
				-moz-background-size: contains;
				-o-background-size: contains;
				background-size: cover;
				display:block;
				position:absolute;
			}
			.movieElement h1{
				width:400px;
				padding:10px;
				background-color:rgba(0,0,0,0.5);
				color:white;
				font-size:25px;
				text-align:center;
				font-family:oswald;
			}
			
			/**********************
						Floating Menu
			***********************/
			#floatingMenu{
				float:right;
				position:fixed;
				width:90vw;
				margin:auto;
				z-index:99999;
				top:0px;
			}
			#floatingMenu ul{
				float:right;
				margin-top:10px;
			}
			#floatingMenu li{
				display:inline-block;
				background-color:white;
				margin-right:1px;
				height:25px;
				vertical-align:center;
				font-family:'Oswald';
			}
			
			#floatingMenu li span{
				height:100%;
				width:100%;
				background-color:white;
				padding:5px;
			}
			
			
			/****************************
				Buttons
			*****************************/
			.buttonContainer{
				display:block;
				width:100px;
				margin:auto;
				background-color:white;
				vertical-align:bottom;
				margin-top:450px;
			}
			.buttonContainer>a{
				width:100%;
				padding:10px;
				margin:1px;
				background-color:red;
				display:block;
				text-align:center;
			}
			.buttonContainer>.watch{}
			.buttonContainer>.watchlater{}
			.buttonContainer>.ignore{}
			
			
			